@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}

:root {
    --dark-primary-color: #121212;
    --dark-secondary-color: #1d1d1d;
    --dark-hover-color: #252525;
}

.sliderWrapper :global .slick-list .slick-track {
  @apply my-[0] mx-[20];
}